body{
    margin: 0px;
    padding: 0px;
    background-color: #009DAE;
}
.centre{
    width: 100px;
    height: 100px;
    background-color:#F3950D;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
